site_name: UIC Global Oculomics 
site_url: https://monkeygobah.github.io/postdoc-site/

theme:
  name: material
  logo: images/ieei.svg
  favicon: images/ieei.svg
  palette:
    - scheme: default
      primary: blue grey
      accent: teal
      background: "#f5f5f5"
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.tabs
    - navigation.instant
    - content.action.edit
    - toc.integrate
    - content.code.copy



nav:
  - Home: index.md
  - Roadmap: roadmap.md
  - Datasets: datasets.md
  - Global Deployments: deployments.md
  - Foundational Model: foundational.md
  - Side Quests: side_quests.md
  - Tools & Assets: assets.md
  - Publications: publications.md
  - Team: team.md
  - Collaborate With Us: collaborate.md

extra_css:
  - css/progress.css
  - css/custom.css

extra_javascript:
  - js/progress.js

plugins:
  - search

  
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list